<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42645066870-t5dmon8eke9p6utedtjlfb8kpr5skdg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42645066870-t5dmon8eke9p6utedtjlfb8kpr5skdg4</string>
	<key>API_KEY</key>
	<string>AIzaSyDHbodBgGod1jhwX8GVmwEyO7-69zy_a6s</string>
	<key>GCM_SENDER_ID</key>
	<string>42645066870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cnn</string>
	<key>PROJECT_ID</key>
	<string>lung-disease-vgg16</string>
	<key>STORAGE_BUCKET</key>
	<string>lung-disease-vgg16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42645066870:ios:82f4cf46e939a547ae7b57</string>
</dict>
</plist>